<input type="text" ng-model="search" class="search-query" id="projects_search"
       placeholder="Search">

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>CONTENT</th>
        <!-- <th><a href="#/new"><i class="icon-plus-sign"></i></a></th> -->
        <th><a href="#/new">New</i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects | filter:search | orderBy:'content'">
        <td><a ng-href="{{project.$id}}" target="_blank">{{project.$id}}</a></td>
        <td>{{project.content}}</td>
        <td>
            <a ng-href="#/edit/{{project.$id}}">edit</i></a>
        </td>
    </tr>
    </tbody>
</table>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<button class='btn btn-default' ng-click="addAlert()">Add Alert</button>